* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
  }
  
body {
      background: #1a1c28;
      padding: 1rem;
      font-size: 15px;
      font-family: 'Lexend Deca';
}
  
ul {
      list-style-type: none;
}
  
a {
      text-decoration: none;
}
  
.h-link {
    padding: 1.2rem 2.2rem;
    border-radius: 2rem;
    border: none;
    font-weight: 700;
    font-size: 14px;
    background: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.h-link:hover {
    background-color: hsl(0, 0%, 95%);
    color: hsl(180, 79%, 13%);
    outline: 3px solid hsl(180, 79%, 13%);
}


.grid-container {
    margin: 2rem auto;
    max-width: 50rem;
    display: grid;
    grid-template-rows: 15rem 15rem;
    grid-template-areas: 
    'A A B'
    'C D D';
}

.box1 {
    background: #eb5020;
    grid-area: A;
}

.box2 {
    background: #ffa401;
    grid-area: B;

}

.box3 {
    background: #05aa42;
    grid-area: C;

}

.box2 {
    background: #01aefd;
    grid-area: D;

}